a, a:hover, a:visited, a:active {
  color: blue;
  text-decoration: none;
 }

@media (min-width: 600px) {
  .nav-bar-mobile-button {
    display: none;
    width: 0px;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .nav-bar-item {
    visibility: visible;
    height: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-bar-item {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .nav-bar-mobile-button {
    margin-right: auto;
    margin-left: 30px;
    display: visible;
    width: 35px;
  }
}

.nav-bar-wrap {
  width: 100%
}

.nav-bar-mobile-button {
  height: 35px;
  width: 35px;
  margin-top: 10px;
}

.nav-bar-mobile-button-1{
  background-color: black;
  height: 7px;
  width: 25px;
  margin-bottom: 2px;
}

.nav-bar-mobile-button-2 {
  background-color: black;
  height: 7px;
  width: 25px;
  margin-bottom: 2px;
}

.nav-bar-mobile-button-3 {
  background-color: black;
  height: 7px;
  width: 25px;
  margin-bottom: 2px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #F4F6F7;
  overflow: hidden;
}

.nav-bar-item {
  margin-left: 10px;
  margin-right: 10px;
  color: #85929E;
  text-align: center;
}

.nav-bar-item a {
  color: black;
}

.nav-bar-item a:hover {
  color: #566573;
}

.nav-bar-link {
  font-size: 20px;
}

.nav-bar-link:visiited {
  text-decoration: none;
}

.nav-bar-placeholder {
  height: 50px;
}

.App {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.name-wrap {
  margin-bottom: 30px;
  margin-top: 30px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.personal-image-wrap {
  margin-bottom: 20px;
}

.personal-image {
  width: 250px;
}

.short-summary-wrap {
  margin-bottom: 60px;
}

.short-summary {
  font-size: 20px;
}

.about-me-wrap {
  margin-bottom: 60px;
}

.about-me-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me {
  text-align: left;
  margin: auto;
  font-size: 20px;
}

.links-wrap {
  margin-bottom: 60px;
}

.links-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.links {
  font-size: 20px;
}

.cv-link-wrap {
  margin-bottom: 60px;
}

.cv-link-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cv-link {
  text-align: center;
  font-size: 20px;
}

.cv-link-description {
  font-size: 20px;
  text-align: center;
}

.project-wrap {
  margin-bottom: 60px;
}

.project-list-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
  border: solid;
  border-color: #D0D3D4;
  padding: 15px;
  border-radius: 10px;
  overflow-wrap: break-word;
  /* width: 800px; */
  /* margin: auto; */
}

.project-header {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}

.project-image-wrap {
  margin-bottom: 10px;
}

.project-image {
  width: 70%;
  height: 70%;
  margin-bottom: 10px;
  border: solid;
  border-color: #808B96;
  border-radius: 15px;
}

.project-link-wrap {
  font-size: 20px;
}

.project-link {
  font-size: 20px;
}

.project-league-of-legends-cooldown-tracker {
  width: 47%;
  height: 47%;
  margin-bottom: 10px;
  border: solid;
  border-color: #808B96;
  border-radius: 15px;
}

.work-experience-wrap {
  margin-bottom: 60px;
}

.work-experience-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.work-experience {
  margin-bottom: 10px;
}

.work-experience-company-name {
  font-size: 20px;
  text-align: left;
}

.work-experience-company-description {
  text-align: left;
  font-size: 20px;
}

.job-accomplishments-list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.job-accomplishment {
  font-size: 20px;
  text-align: left;
}

.blockchain-experience-wrap {
  margin-bottom: 60px;
}

.blockchain-experience-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blockchain-experience {
  margin-bottom: 10px;
}

.blockchain-experience-list-item {
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.blockchain-experience-item-summary {
  text-align: left;
  font-size: 20px;
}

.education-wrap {
  margin-bottom: 60px;
}

.education-header {
  font-size: 40px;
  font-weight: bold;
}

.education {
  margin-bottom: 10px;
}

.education-name {
  font-size: 20px;
  text-align: left;
}

.education-degree {
  font-size: 20px;
  text-align: left;
}

.education-description {
  font-size: 20px;
  text-align: left;
}

.education-link {
  font-size: 20px;
  text-align: left;
}
