a, a:hover, a:visited, a:active {
  color: blue;
  text-decoration: underline;

 }

.nav-bar-wrap {

}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #ECF0F1;
  overflow: hidden;
}

.nav-bar-item {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-bar-link {
  font-size: 20px;
}

.nav-bar-link:visiited {
  text-decoration: none;
}

.nav-bar-placeholder {
  height: 50px;
}

.App {
  text-align: center;
  width: 90%;
  min-width: 400px;
  max-width: 1000px;
  margin: auto;
}

.name-wrap {
  margin-bottom: 30px;
  margin-top: 30px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.personal-image-wrap {
  margin-bottom: 20px;
}

.personal-image {
  width: 30%;
  height: 30%;
}

.short-summary-wrap {
  margin-bottom: 60px;
}

.short-summary {
  font-size: 20px;
}

.about-me-wrap {
  margin-bottom: 60px;
}

.about-me-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me {
  text-align: left;
  margin: auto;
  font-size: 20px;
}

.links-wrap {
  margin-bottom: 60px;
}

.links-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.links {
  font-size: 20px;
}

.project-wrap {
  margin-bottom: 60px;
}

.project-list-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
  border: solid;
  border-color: #F5F5F5;
  padding-top: 15px;
  padding-bottom: 15px;
  /* width: 800px; */
  /* margin: auto; */
}

.project-header {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  margin-bottom: 10px;
  font-size: 20px;
}

.project-image-wrap {
  margin-bottom: 10px;
}

.project-image {
  width: 70%;
  height: 70%;
  margin-bottom: 10px;
}

.project-link-wrap {
  font-size: 20px;
}

.project-link {
  font-size: 20px;
}

.project-league-of-legends-cooldown-tracker {
  width: 47%;
  height: 47%;
}

.work-experience-wrap {
  margin-bottom: 60px;
}

.work-experience-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.work-experience {
  margin-bottom: 10px;
}

.work-experience-company-name {
  font-size: 22px;
  text-align: left;
}

.work-experience-company-description {
  text-align: left;
  font-size: 20px;
}

.blockchain-experience-wrap {
  margin-bottom: 60px;
}

.blockchain-experience-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blockchain-experience {
  margin-bottom: 10px;
}

.blockchain-experience-list-item {
  margin: auto;
  text-align: left;
  font-size: 20px;
}

.blockchain-experience-item-summary {
  text-align: left;
  font-size: 20px;
}

.education-wrap {
  margin-bottom: 60px;
}

.education-header {
  font-size: 40px;
  font-weight: bold;
}

.education {
  margin-bottom: 10px;
}

.education-name {
  font-size: 23px;
  text-align: left;
}

.education-degree {
  font-size: 20px;
  text-align: left;
}

.education-description {
  font-size: 20px;
  text-align: left;
}

.education-link {
  font-size: 20px;
  text-align: left;
}
