.App {
  text-align: center;
  width: 90%;
  min-width: 400px;
  margin: auto;
}

.name-wrap {
  margin-bottom: 30px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.summary-wrap {
  margin-bottom: 30px;
}

.summary-header {
  font-size: 40px;
  font-weight: bold;
}

.summary {
  text-align: left;
  margin: auto;
}

.links-wrap {
  margin-bottom: 30px;
}

.links-header {
  font-size: 40px;
  font-weight: bold;
}

.project-wrap {
  margin-bottom: 30px;
}

.project-list-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 40px;
  /* width: 800px; */
  /* margin: auto; */
}

.project-header {
  font-size: 35px;
  font-weight: bold;
}

.project-description {
  margin-bottom: 5px;
}

.project-image {
  width: 70%;
  height: 70%;
}

.project-league-of-legends-cooldown-tracker {
  width: 47%;
  height: 47%;
}

.project-google-music-visualizer {
  width: 87%;
  height: 87%;
}

.work-experience-wrapper {
  margin-bottom: 30px;
}

.work-experience-header {
  font-size: 40px;
  font-weight: bold;
}

.work-experience {
  margin-bottom: 10px;
}

.work-experience-company-name {
  font-size: 20px;
  text-align: left;
}

.work-experience-company-description {
  text-align: left;
}

.blockchain-experience-wrapper {
  margin-bottom: 30px;
  margin: auto;
}

.blockchain-experience-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blockchain-experience {
  margin-bottom: 10px;
}

.blockchain-experience-list-item {
  margin: auto;
  text-align: left;
}

.blockchain-experience-item-summary {
  text-align: left;
}
